.formContainer {
    display: none;
}
.form {
    display: flex !important;

    position: fixed;
    /* top: 300px; */
    top: 30%;

    opacity: 1;
    width: 60%;
    z-index: 4 !important;
}

.button {
    margin-left: 10px;
}
.searchBar {
    /* width: 50%; */
    background-color: rgb(169, 175, 175) !important;
    /* background-color: rgb(63, 66, 66) !important; */
    /* background-color: rgb(42, 44, 44) !important; */
    border: 1px solid rgb(42, 44, 44) !important;
    color: rgb(209, 209, 209) !important;
    font-size: 24px !important;
    /* display: inline-block; */
}

.searchIcon {
    margin-left: 4px;

    padding-right: 10px;
}
.button2 {
    border-radius: 40px;
    position: fixed;

    top: 80%;

    right: -14px;
    z-index: 2;
}
.button2:hover {
    background-color: green;
}
.searchBtn {
    position: fixed !important;
    width: 50px !important;
    height: 50px !important;
    top: 50% !important;
    left: 98%;
    border: none;
    background-color: rgb(238, 195, 195);
    z-index: 2;
    border-radius: 5px 5px 5px 5px;
}
.searchBtnIcon {
    position: relative !important;
    left: -1px;
    font-size: 29px;
    /* color: rgb(250, 253, 243); */
}
