.main {
    width: 250px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    /* background-color: #bcdee9; */
    background-color: whitesmoke;
    /* background-color: white; */

    border: 1px solid gray;
    z-index: 3;
    overflow: hidden;
}
.main:hover {
    /* box-shadow: 3px 3px 10px 3px rgb(199, 199, 199); */
    box-shadow: 3px 3px 10px 3px rgb(156, 156, 156);
    cursor: pointer;
    /* transform: scale(1.03); */
    transform: scale(1.02);
    transition: all ease-in-out 0.3s;

    z-index: 3;
}
.main:hover .threeDotsButton {
    visibility: visible;
}
.main:hover .buttonRow {
    /* visibility: visible; */
    top: -26px;
    /* left: 8px; */
    /* height: 100%; */
    transition: top 0.3s;
}
.buttonRow {
    position: relative;
    /* top: -26px;
    left: 8px; */
    top: 6px;
    left: 8px;
    /* height: 0%; */
    /* visibility: hidden; */
}
.buttonBlock {
    display: flex;
}

.main img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: -3px;
    padding: 3px;
}

.threeDotsButton {
    width: 40px;
    position: relative;
    /* top: -164px; */
    top: -168px;
    left: 218px;
    background-color: none !important;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    display: inline;
    visibility: hidden;
}

.threeDotsButtonIcon {
    position: relative;
    left: -8px;
    font-size: 27px;
    color: rgb(80, 79, 79);
}
.threeDotsButtonIcon:hover {
    color: rgb(69, 2, 255);
}
.contentName {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    position: relative;
    top: -30px;
}
.authorDetails {
    /* width: 600px; */
    height: 150px;
}
.authorName {
    text-align: left;
    font-size: 19px;
    font-weight: 600;
    margin-left: 8px;
    color: rgb(75, 75, 251);
    position: relative;
    top: -30px;
}
.authorName:hover {
    color: blue;
}
.blueTikMark {
    color: #346bda;
    margin-left: 3px;
}
.userDetails {
    z-index: 2;
    width: 250px;
    height: 200px;
    background-color: orangered;
    position: absolute;
    top: 40px;
    left: 50px;
}
.institutionLogo {
    width: 30px;
    height: 30px;
}

.ratingAndTagBlock {
    display: flex;
    position: relative;
    top: -30px;
    box-sizing: border-box;
}
.contentRating {
    text-align: left;
    font-size: 19px;
    font-weight: 600;
    margin-left: 8px;
}
.freeTag {
    background-color: yellow;
    color: black;
    font-weight: bold;

    /* background-color: green;
    color: white; */
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    position: relative;
    top: 1px;
}
.paidTag {
    background-color: rgb(255, 81, 0);
    /* background-color: #dd4124; */
    color: black;
    font-weight: bold;

    /* background-color: green;
    color: white; */
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    position: relative;
    top: 1px;
}
.institutionIcon {
    font-size: 24px;
    position: relative;
    top: -4px;
}
.classNdInstitution {
    /* background-color: green; */
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    font-size: 16px;
}
/*button row*/

.addToLibraryButton {
    background-color: none !important;
    border-radius: 50% !important;
    border: none !important;
    z-index: 1 !important;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 4px;
}
.addToLibraryIcon {
    position: relative;
    margin-left: -8px;
    margin-top: -10px;
    font-size: 22px;
}
.goToPathIcon {
    position: relative;
    margin-left: -11px;
    margin-top: -10px;
    font-size: 29px;
    color: #ffffff !important;
}
.pathDetails {
    z-index: 2;
    width: auto;
    height: auto;
    padding: 4px;
    /* background-color: rgb(125, 144, 253); */
    background-color: rgb(241, 169, 169);
    opacity: 1;
    color: white !important;
    position: absolute;
    top: 240px;
    left: 10px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
}

.pathDetailsCloseButton {
    background-color: none !important;
    border-radius: 50% !important;
    /* color: white !important; */
    border: none !important;
    z-index: 1 !important;
    width: 30px;
    height: 30px;
    position: relative;
    left: 80%;
    margin-left: 4px;
    opacity: 1;
}
.pathDetailsCloseIcon {
    position: relative;
    margin-left: -8px;
    margin-top: -10px;
    font-size: 22px;
    /* padding: 4px; */
}
