.UsersNavbar {
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 68px;
    opacity: 1;
    z-index: 2;
}
.customDropDown {
    position: relative;
    margin-left: 1px;
}

.customDropDown:hover {
    background-color: lightgrey;
}
.customDropDownItems {
    color: black;
    position: absolute;
    top: 2px;
    left: 159px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-bottom: 1px solid lightgrey;
}

.customDropDown:active {
    border: none;
}

.navbarImage {
    width: 10%;
    opacity: 1;
}
.navbarContent {
    width: 60%;
    opacity: 1;
    z-index: 2;
}

.nlink {
    color: #ffffff;

    border-radius: 4px;
    transition: 0.1s;
    margin-left: 5px !important;
    font-weight: 600;
    opacity: 1;
    z-index: 2;
}

.nlink:hover {
    /* background: #7fffd4; */
    color: white !important;
    font-weight: 500;
    /*ekhane ekta vul korsi but bepar na .. outline-offset er jaygay color hobe */
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}
.navColor {
    background-color: #1d1e1f;
    opacity: 1;
    z-index: 2;
}
/* .UsersNavbar:scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
} */
