/* xl for 100
lg for 175
Main font color -> # AAA6A2
Main font color (light) -> # DDD8D2
Links color -> # 9BB6DF
Links color (visited) -> # 906F51
Links header color -> # 6B886B
Background color -> # 101111
Background light color -> # 1D1E1F
Selection color -> # EEEEEE
Selection background color -> # 404040
*/
.homeContainer {
    /* background-color: rgb(253, 248, 248); */
    background-color: #292b2c;
    /* background-color: #303233; final color */
    /* width: 100% !important; */
    overflow-x: hidden !important;
}
.swiperGap {
    /* border: 1px solid red !important; */
    margin-bottom: 1px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    /* margin: 45px !important; */
}
