.mentorships {
    /* height: 500vh; */
    height: auto;
    /* background-color: #303233; */
    /* main-color */
    /* background-color: #101111; */
    background-color: #292b2c;
}
.swiperGap {
    margin: 25px;
}
