/* xl for 100
lg for 175
Main font color -> # AAA6A2
Main font color (light) -> # DDD8D2
Links color -> # 9BB6DF
Links color (visited) -> # 906F51
Links header color -> # 6B886B
Background color -> # 101111
Background light color -> # 1D1E1F
Selection color -> # EEEEEE
Selection background color -> # 404040
*/
.mentorships {
    /* height: 500vh; */
    height: auto;
    /* background-color: #303233; */
    /* main-color */
    /* background-color: #101111; */
    background-color: #292b2c;
}
.swiperGap {
    margin: 25px;
}
